plotly==4.1.1
jupyter
pandas
requests
databricks-connect==6.5.*
matplotlib
ipympl
dash==1.8
dash-bootstrap-components==0.8.2
seaborn
unidecode
pyarrow
ipdb
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
tables
visdcc
psycopg2
